doctype html
html
  head
    title= title
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-app='trainer')
    .container
        block content

    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js')
    script(src='/javascripts/modules/trainerModule.js')
    script(src='/javascripts/services/userService.js')
    script(src='/javascripts/services/translationService.js')
    script(src='/javascripts/services/lexiconService.js')
    script(src='/javascripts/controllers/userCtrl.js')
    script(src='/javascripts/controllers/lexiconCtrl.js')