doctype html
html
  head
    title= title
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-app='trainer')
    .container
        block content

    script(src='//code.jquery.com/jquery-2.0.3.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-animate.js')
    script(src='/javascripts/modules/trainerModule.js')
    script(src='/javascripts/services/userService.js')
    script(src='/javascripts/services/pageService.js')
    script(src='/javascripts/services/translationService.js')
    script(src='/javascripts/services/lexiconService.js')
    script(src='/javascripts/services/quizService.js')
    script(src='/javascripts/controllers/loginCtrl.js')
    script(src='/javascripts/controllers/dashboardCtrl.js')
    script(src='/javascripts/controllers/lexiconCtrl.js')
    script(src='/javascripts/controllers/quizCtrl.js')