.row
    .col-xs-12
        div(ng-controller='quizCtrl', ng-show="pageService.page === 3", ng-cloak, class="page page-animation lg-well")
            div(class='lg-well-header blue') Quiz
                ul
                    li(ng-click='pageService.changePage(1)') Retourner au tableau de bord
            div(class='lg-well-content')
                .col-xs-4(ng-hide='quizStarted')
                    Choisir un lexique
                    ul(class='dashboard-lexicons')
                        li(ng-repeat='lexicon in lexicons', ng-click='selectLexicon(lexicon)') {{lexicon.name}}
                div(ng-show='quizStarted && !quizFinished', ng-cloak)
                    h2(class='quiz-word') Mot à traduire: {{word.word}}
                    hr
                    .row
                        label(class='col-xs-2') Traduction
                        .col-xs-6
                            input(type='text', id='inputResponse', ng-model='response', required, class='form-control')
                        button(ng-click='checkResponse()', ng-disabled='result !== null', class='col-xs-2 btn btn-primary btn-margin') Ok
                        button(ng-click='noResponse()', ng-disabled='result !== null', class='col-xs-2 btn btn-primary btn-margin') Passer
                    .row(ng-show='showAnswer')
                        div(class='alert alert-success', ng-show='result') Well done
                        div(class='alert alert-danger', ng-hide='result') Try again
                        table(class='table table-striped table-bordered table-hover')
                            thead
                                tr
                                    th(class='col-xs-1') POS
                                    th(class='col-xs-2') Traduction
                                    th(class='col-xs-5') Sens
                                    th(class='col-xs-5') Tags
                            tbody
                                tr(ng-repeat='translation in word.translations')
                                    td(class='col-xs-1') {{translation.POS}}
                                    td(class='col-xs-2') {{translation.term}}
                                    td(class='col-xs-4') {{translation.sense}}
                                    td(class='col-xs-5') {{translation.tags}}
                        button(ng-click='nextWord()', class='btn btn-primary btn-margin') Suivant
                div(ng-show='quizFinished', ng-cloak)
                    h2 Score: {{quizService.finalScore}}/20
                    button(ng-click='newQuiz()', class='btn btn-primary btn-margin') Commencer un nouveau quiz